@use "../partials/functions" as f;
@use "../partials/mixins" as m;
@use "../partials/variables" as v;
@layer components {
	body .button {
		@include m.resetA;
		@include m.resetButton;
		@include m.flexbox($justify: center, $gap: 1rem, $align: center);
		padding: f.rem(10) f.rem(16);
		background-color: var(--black);
		color: var(--white);
		font-size: f.rem(16);
		line-height: f.rem(18);
		font-weight: 600;
		border-radius: f.rem(10);
		transition: all 0.3s;
		white-space: nowrap;

		// &--icon {
		// 	display: flex;
		// 	flex-direction: row;
		// 	justify-content: center;
		// 	align-items: center;
		// 	gap: 1rem;

			
		// }

		svg {
			height: 1.5rem;
			width: 1.5rem;
			fill: var(--white);
		}

		&--admin{
			display: inline-flex;
			vertical-align: middle;
			margin-left: f.rem(16);
			width: f.rem(40);
			height: f.rem(40);
			border-radius: 50%;
			padding: 0;
		}

		&:hover {
			background-color: var(--black-hover);
		}
		// classes modificatrices de couleur
		&--primary {
			background-color: var(--primary-500);
			&:hover {
				background-color: var(--primary-400);
			}
		}
		&--secondary {
			background-color: var(--secondary-500);
			&:hover {
				background-color: var(--secondary-400);
			}
		}
		&--danger {
			background-color: var(--danger-500);
			&:hover {
				background-color: var(--danger-400);
			}
		}
		&--transparent {
			background-color: transparent;
			color: var(--text-color);
			padding: 0.2rem;
			svg {
				fill: var(--text-color)
			}
			&:hover {
				background-color: var(--hover-color);
			}
		}
		// classes modificatrices de taille
		&--lg {
			padding: f.rem(16) f.rem(24);

			svg {
				height: 2rem;
				width: 2rem;
			}
		}
		&--sm {
			padding: f.rem(8) f.rem(12);
			font-size: f.rem(14);
			line-height: f.rem(16);

			svg {
				height: 1rem;
				width: 1rem;
			}
		}

		&--rounded {
			border-radius: 10000px;
		}

		&--icon {
			padding: 1rem;
		}

		&--floating {
			@include m.boxShadow;
		}

		
	}
}
