@use "../partials/mixins" as m;
@use "../partials/functions" as f;

@layer components {
    .center-container {
        flex-grow: 1;
        position: relative; /* Pour que le bouton soit ancré à cette section */
        overflow-y: scroll;
		@include m.scrollbar;
        height: 100vh; /* Hauteur maximale */
        padding: 1rem;

        &__content {
            min-height: calc(100vh - 12rem); /* Hauteur minimale */
            position: relative;
            display: flex;
            flex-direction: column;

            @media (width >= f.screen(lg)) {
                min-height: calc(100vh - 6rem);
            }
        }

        &__button {
            position: sticky;
            bottom: 2rem;
            display: flex;
            justify-content: flex-end;
            z-index: 5;


        }
    }
}