@use "../partials/mixins" as m;
@use "../partials/functions" as f;

@layer component {
	.error {
		--error-text-color: var(--danger-600);
		--error-border-color: var(--danger-200);
		--error-background-color: var(--danger-100);
		@include m.absolute($left: auto, $bottom: auto, $right: 1rem);
		@include m.flexbox($align: center, $gap: 1rem);
		width: fit-content;
		background-color: var(--error-background-color);
		border: 2px solid var(--error-border-color);
		border-radius: 1rem;
		color: var(--error-text-color);
		padding: f.rem(10) f.rem(16);
		opacity: 0.8;
		transition: opacity 0.5s ease, transform 0.5s ease;
		z-index: 50;
		&__icon {
			fill: var(--error-text-color);
		}
		&__text {

		}
		&__close {
			@include m.resetButton;
			svg {
				fill: var(--error-text-color);
			}
		}

		&--warning {
			--error-text-color: var(--warning-600);
			--error-border-color: var(--warning-200);
			--error-background-color: var(--warning-100);
		}
		&--info {
			--error-text-color: var(--primary-600);
			--error-border-color: var(--primary-200);
			--error-background-color: var(--primary-100);
		}

		&.hide {
			animation: fadeOut 0.5s forwards;
		}
		

		&.show {
			animation: fadeIn 0.5s forwards;
		}

		@keyframes fadeOut {
			to {
				opacity: 0;
				transform: translateY(-30px);
			}
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
				transform: translateY(-50px);
			}
			to {
				opacity: 0.8;
				transform: translateY(0);
			}
		}
	}
}