@use "../partials/mixins" as m;
@use "../partials/functions" as f;

@layer components {
    .image-card {

        margin: 0;
        position: relative;
        margin-bottom: 1rem;
        border-radius: 1rem;
        overflow: hidden;

        &__img {
            width: 100%;
            display: block;
        }

        &__title {
            @include m.flexbox($justify: space-between, $align: center);

            h3 {
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            button {
                @include m.resetButton;
                width: 2rem;
                height: 2rem;

                svg {
                    fill: var(--white);
                    width: 100%;
                    height: 100%
                }
            }
        }

        &__caption {
            @include m.absolute();
            @include m.flexbox($direction: column, $justify: space-between);
            z-index: 2;
            opacity: 0;
            background-color: rgba($color: #000000, $alpha: 0.4);
            transition: 200ms;
            padding: 1.5rem;
            font-size: 1.5rem;
            color: var(--white);
            

            span {
                
            }

            @media (width > f.screen(lg)){
                font-size: 1rem;

            }

        }

        &__button-wrapper {
            @include m.flexbox($justify: space-between)
        }

        &:hover .image-card__caption {
            opacity: 1;

        }
    }
}