@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  // Modal
  .modal {
    background: var(--white);
    border-radius: f.rem(10);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: f.rem(24);
    width: 80%; // Taille de la modal
    max-width: f.rem(800); // Largeur maximale
    max-height: 80%; // Hauteur maximale
    overflow-y: auto; // Défilement pour le contenu long
    position: relative;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(8px); // Flou de l'arrière-plan
      background: rgba(0, 0, 0, 0.3); // Couleur de l'arrière-plan
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }
    }

    // Close button
    &__close-button {
      position: absolute;
      top: f.rem(16);
      right: f.rem(16);
      background: none;
      border: none;
      font-size: f.rem(24);
      color: var(--neutral-800);
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: var(--purple-700);
      }
    }
  }
}
